.graphs{
    width: 67%;
    height: 97vh !important;
    border-radius: 2rem;
    background-color: #162349;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    @media screen and (min-width: 320px) and (max-width: 1080px) {
      width: 100%;
      height: max-content !important;
      margin-top: 1rem;
      padding: 3rem;
    }
    @media screen and (min-width: 320px) and (max-width: 493px) {
      width: 100%;
      height: max-content !important;
      margin-top: 1rem;
      padding: 1rem;
    }
}