.profile{
    width: 67%;
    height: 97vh !important;
    border-radius: 2rem;
    background-color: #162349;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    @media screen and (min-width: 320px) and (max-width: 1080px) {
      margin-top:1rem;
      width: 100%;
      // height: max-content !important;
    }
    @media screen and (max-width: 778px) {
      width: 100%;
      height: 120vh !important;
    }
    @media screen and (max-width: 596px) {
      width: 100%;
      height: 140vh !important;
    }
    @media screen and (max-width: 520px) {
      width: 100%;
      height: 160vh !important;
    }
}