.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    height: 2px !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
    color: #fff !important;
    border-color: #fff !important;
    outline: none !important;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    border-color: #fff !important;
}

.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator{
    color: #fff !important;
}

.NavbarGk{
    .ant-btn-primary{
        background-color: #fff !important;
    }
}