.Feed {
    width: max-content;
    margin: 6rem auto;
    margin-bottom: 0;
    .post-container {
        width: 40vw;
        background: #fff;
        border-radius: 6px;
        padding: 20px;
        color: #626262;
        @media screen and (max-width: 780px) {
            width: 60vw;
        }
        @media screen and (max-width: 540px) {
            width: 80vw;
        }
        @media screen and (max-width: 430px) {
            width: 85vw;
        }
    }
    .post-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .user-profile {
        display: flex;
        align-items: center;
    }
    .user-profile img {
        width: 45px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .user-profile div p {
        margin-bottom: -5px;
        font-weight: 600;
        color: #626262;
    }
    .user-profile small {
        font-size: 12px;
        color: #626262;
    }
    .post-text {
        color: #9a9a9a;
        margin: 15px 0;
        font-size: 15px;
    }
    .post-img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 5px;
    }
    .post-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .activity-icons div img {
        width: 18px;
        margin-right: 10px;
    }
    .activity-icons div {
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
    }
    .post-profile-icon img {
        width: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
}
.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.profile-intro ul li img {
    width: 26px;
    margin-right: 10px;
}

.profileSectionFeed {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
