.AttendaceV2{
    padding:0.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 468px) {
        overflow-y: scroll;
    }
}